@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --title-font: "Comfortaa", serif;
  --general-font: "Ubuntu", sans-serif;
  --mono-font: "Ubuntu Mono", sans-serif;
  --nav-font: "Montserrat", sans-serif;
  --font-color: #e9e9e9;
  --highlight-color: #ff8600;
}

/* universal elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #505050;
}

/* nav */

.bar {
  background: #333;
  color: var(--font-color);
  font-family: var(--nav-font);
}

.bar ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.bar ul li {
  list-style: none;
}

.bar ul li a {
  color: var(--font-color);
  text-decoration: none;
}

.bar ul li a:hover {
  color: var(--highlight-color);
}

.bar ul li a:visited {
  text-decoration: none;
}

/* home page */

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

main h1 {
  margin: 1rem;
  font-size: 32px;
  font-family: var(--title-font);
  color: var(--highlight-color);
}

main h1 p {
  margin: 1rem;
  padding: 1rem;
}

main p {
  font-size: 22px;
  font-family: var(--general-font);
  color: var(--font-color);
}

/* about me */

.about-me {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.about-me h1 {
  margin: 1rem;
  font-family: var(--title-font);
  color: var(--highlight-color);
}

.about-me h3 {
  font-family: var(--general-font);
  color: var(--font-color);
}

.about-me h1 p {
  margin: 1rem;
  padding: 1rem;
}

.about-me p {
  font-family: var(--general-font);
  color: var(--font-color);
  margin: 0.5rem;
}

.about-me section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* blogs */

.dropbtn {
  background-color: var(--highlight-color);
  color: black;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

.dropdown {
  justify-content: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-family: var(--nav-font);
  list-style: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 6.8em;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#hero1 {
  display: flex;
  padding: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/11175537/pexels-photo-11175537.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    center;
  background-size: cover;
}

#hero1 h1 {
  padding: 0.5rem;
  text-align: center;
  font-family: var(--title-font);
  font-size: 2.25rem;
  color: var(--font-color);
  font-weight: normal;
}

#hero2 {
  display: flex;
  padding: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/10803236/pexels-photo-10803236.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    center;
  background-size: cover;
}

#hero2 h1 {
  padding: 0.5rem;
  text-align: center;
  font-family: var(--title-font);
  font-size: 2.25rem;
  color: var(--font-color);
  font-weight: normal;
}

#hero3 {
  display: flex;
  padding: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/3419841/pexels-photo-3419841.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center;
  background-size: cover;
}

#hero3 h1 {
  padding: 0.5rem;
  text-align: center;
  font-family: var(--title-font);
  font-size: 2.25rem;
  color: var(--font-color);
  font-weight: normal;
}

#hero4 {
  display: flex;
  padding: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/10540135/pexels-photo-10540135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center;
  background-size: cover;
}

#hero4 h1 {
  padding: 0.5rem;
  text-align: center;
  font-family: var(--title-font);
  font-size: 2.25rem;
  color: var(--font-color);
  font-weight: normal;
}

#hero5 {
  display: flex;
  padding: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/10067092/pexels-photo-10067092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center;
  background-size: cover;
}

#hero5 h1 {
  padding: 0.5rem;
  text-align: center;
  font-family: var(--title-font);
  font-size: 2.25rem;
  color: var(--font-color);
  font-weight: normal;
}

.publish-date {
  text-align: right;
  color: var(--highlight-color);
  font-family: var(--general-font);
  margin: 1rem;
}

.blog-text {
  font-family: var(--general-font);
  color: var(--font-color);
  margin: 1rem;
}

.blog-top {
  font-family: var(--nav-font);
  text-align: center;
  padding: 1rem;
}

.blog-top a {
  text-decoration: none;
  color: var(--highlight-color);
}

.blog-top a:visited {
  text-decoration: none;
}

/* links */

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  font-family: var(--nav-font);
  color: var(--font-color);
  text-align: center;
}

#links a {
  text-decoration: none;
  color: var(--font-color);
  width: 60%;
  border: 1px solid white;
  padding: 1rem;
}

#links a:hover {
  color: var(--highlight-color);
}

#links a:visited {
  text-decoration: none;
}

/* footer */

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* media queries */

@media screen and (min-width: 1200px) {
  .bar ul {
    width: 80%;
    margin: auto;
  }

  main {
    width: 80%;
    margin: auto;
  }

  .about-me {
    width: 80%;
    margin: auto;
  }

  .blog-text-container {
    width: 80%;
    margin: auto;
  }

  #links {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 1800px) {
  .bar ul {
    width: 50%;
    margin: auto;
  }

  main {
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    text-align: left;
    width: 50%;
  }

  .about-me {
    width: 50%;
    margin: auto;
  }

  .blog-text-container {
    width: 50%;
    margin: auto;
  }

  #links {
    width: 50%;
    margin: auto;
  }

  .about-me section:nth-of-type(odd) {
    text-align: left;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .about-me section:nth-of-type(even) {
    text-align: right;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}