:root {
    --title-font: "Comfortaa", serif;
    --general-font: "Ubuntu", sans-serif;
    --mono-font: "Ubuntu Mono", sans-serif;
    --nav-font: "Montserrat", sans-serif;
    --font-color: #e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:visited {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #505050;
}

/* nav */

.bar {
    background: #333;
    color: var(--font-color);
    font-family: var(--nav-font);
}

.bar ul {
    display: flex;
    /* align-content: center; */
    /* margin: 0; */
    padding: 1rem;
}

.bar ul li {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.bar ul li a {
    text-color: var(--font-color);
    text-decoration: none;
    color: var(--font-color);
}

.bar ul li a:visited {
    text-decoration: none;
    color: var(--font-color);
}

.main {
    /* background: #505050; */
}

/* home page */

#about-me {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 100vh;
}

#about-me h1 {
    margin: 1rem;
    font-family: var(--title-font);
    color: var(--font-color);
}

#about-me h1 p {
    margin: 1rem;
    padding: 1rem;
}

#about-me p {
    font-family: var(--general-font);
    color: var(--font-color);
}

/* about me */



/* blogs */

.dropbtn {
    background-color: #333;
    color: var(--font-color);
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.blog-list {
    display: none;
    position: absolute;
    /* background-color: ; */
    /* min-width: ; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 1;
}

.blog-list a {
    color: var(--font-color);
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.dropdown:hover .blog-list {
    display: block;
}

.blog {
    font-family: var(--general-font);
    color: var(--font-color);
    margin: 1rem;
}

.blog-title {
    font-family: var(--title-font);
    text-align: center;
    margin: 1rem;
}

.publish-date {
    text-align: right;
}

/* links */

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: var(--nav-font);
    color: var(--font-color);
}

#links a {
    text-decoration: none;
}

#links a:visited {
    text-decoration: none;
    color: var(--font-color);
}

/* footer */

/* footer {
    display: flex;
    margin: 1rem;
    justify-content: center;
    margin-top: auto;
    font-family: var(--nav-font);
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin: 0 0.5rem;
}

footer ul li a {
    text-decoration: none;
} */